# API
API_PORT=3000
API_CONTAINER_PORT=3000
API_NODE_ENV=development

# Postgres
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=barkyn
DB_PASSWORD=barkyn_password
DB_NAME=barkyn_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Web
WEB_PORT=5173
WEB_CONTAINER_PORT=5173

# Docker images / versions (optional but keeps compose clean)
NODE_IMAGE=node:24-alpine
POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine


